/build/
/out/
/vcpkg_installed/
.vscode/
.idea/
.DS_Store

* text=auto eol=lf

#.bat text eol=crlf
#.cmd text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.pdf binary